
header{
  background-color:#212429;
}

body{
  background-color:#f9f9fb;
  position:relative;
}

main{
  padding: 16px 0;
}


ul:before, ul:after, li:before, li:after, .container:before, .container:after,
.right-wrapper:before, .right-wrapper:after, .left-wrapper:before, .left-wrapper:after,
.sign-up-wrapper:before, .sign-up-wrapper:after, .col-2-right:before, .col-2-right:after,
.blog-bottom-info:before, .blog-bottom-info:after, .music-wrapper:before, .music-wrapper:after,
.search-wrapper:after, .search-wrapper:before,.date-likes:before, .date-likes:after,
.upper-footer-wrapper:before, .upper-footer-wrapper:after, .bottom-footer-wrapper:before,
.bottom-footer-wrapper:after, .img-3-right:before, .img-3-right:after,.img-left:before,
.img-left:after, header:before, header:after, main:before, main:after, footer:before, footer:after{
  display: table;
  content: "";
  clear: both;
}

.container{
  display:block;
  padding: 0 16px;
}


header .right-wrapper{
  float: left;
  width: 90%;
  display: inline-block;
  background: #212429;
}

header .left-wrapper{
  float: left;
  width:10%;
  display:inline-block;
  background-color: #3c3c3c;
}

img, video{
  width : 100%;
  height : 100%

}

.left-wrapper{
  float: left;
}

.left-wrapper .search-wrapper{
  display: block;
}

/* Banner  */

.banner-wrapper{
  background-color: #212429;
}


.banner{
  display:none;
}

.sign-up-wrapper form input{
  display:inline-block;
  width: calc(100% - 20px);
  padding: 0 10px;
  line-height: 25px;
  margin-bottom: 10px;
  color: #bcbcbc;
}

.sign-up-wrapper form >:last-child{
  font-size: 10px;
  width: 100%;
  background: #fcfcfc;
  color: #212121;

}


/* main container */
.col-2-right .left-wrapper{
  width:100%;
}

.col-2-right .left-wrapper > div{
  margin-bottom: 30px;
}

.col-2-right .left-wrapper, .col-2-right .right-wrapper{
  display:inline-block;
}

/* blog wrapper */
.blog-image-wrapper{
  height: 490px;
}

.blog-wrapper{
  position: relative;
  text-align: center;
  background: #fcfcfc;
}
.blog-bottom-info{
  border-top: 1px solid #f2f2f4;
  padding:0px 27px;
  margin-top: 37px;
}

.blog-content-wrapper{
  padding:17px 30px;
  padding-bottom:0px;
}

.top-icon-wrapper, .bottom-icon-wrapper, .pen-icon-wrapper, .img-btm-icon-wrapper, .quote-image-wrapper{
  position: absolute;
  display: inline-block;
}


  /* blog bottom wrapper */
.like-comment-wrapper{
  float: left;
}

.share-media-options, .share-media-wrapper{
  display:none;
  float: right;
}

/* image layout */
.img-3-right{
  height: 556px;
  background-color: #cecece;
  padding: 1px;
}

.img-left-l .half-image, .img-right .half-image{
  height: 277px;
  margin-bottom: 1px;
}

.img-left{
  display:inline-block;
  width:49.5%;
  float: left;

}
.img-right{
  display:inline-block;
  float: right;
  width:50%;
}

.img-left-r{
  display: none;
}

.img-left-l {
  width: 100%;
  float: left;
  margin-right: 2px;
}

/* quotes */
.quotes-wrapper{
  background-color: #131d1c;
  padding: 50px 35px;
  position:relative;
  text-align: justify;
}


/* videos */
.video-wrapper{
  position:relative;
  width: 100%;
  height: 487px;
}

.video-options ul{
  position:absolute;
  display:inline;
  top:0px;
  right: 0px;
}

.music-wrapper{
  background-image: url(./../images/music-background.png);
  background-repeat: repeat-x;
  padding: 10px;
  position: relative;
  background-color: #aaaaaa;
  height: 270px;
}

.current_play{
  padding: 8px;
  float: left;;
  color: white;
  padding: 0 5px;
  display:inline;
  width: auto;
}

.play-icon{
  float: left;
  width: 60px;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe3e00;
}

.current-song-info{
  margin-left: 2px;
  display : inline-block;
}

/* right container */
.col-2-right .right-wrapper{
  display: none;
  width:188px;
  position: fixed;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #f5f5f5;
  padding: 0 10px;
  top:0px;
  right:0px;
  bottom: 0px;
}
.search-wrapper, .top-add-banner, .second-add-banner, .facebook-wrapper{
  display: none;
}


.search-input{
  padding: 0 10px;
  line-height:30px;
  font-size: 10px;
  line-height: 50px;
  display: inline-block;
  width: 82%;
  background-color: #fcfcfc;
}

.search-btn{
  background-color: #202020;
  line-height: 50px;
  font-size: 15px;
  width: 10%;
  text-align: center;
  color: white;
  float: right;
  display:inline-block;
}

.top-add-banner, .second-add-banner{
  width: 100%;
}

.top-add-banner{
  height: 600px;
}

.second-add-banner{
  height: 250px;
}

.search-wrapper{
  margin-top: 0px;
}

.post-img-wrapper{
  width: 25.6666%;
  height: 62px;
  display:inline;
  float: left;
}

.slider-wrapper{
  position: relative;
}

.slider-image-wrapper{
  background-color: #3a3c49;
  height: 230px;
}

.facebook-wrapper{
  height: 250px;
  margin-bottom: 40px;
}

/* Footer */
footer{
  background:#212429;
}

.footer-inner-wrapper{
  display: block;
}

.bottom-footer-wrapper{
  display: block;
  background: #17191c;
  text-align: center;
}

.bottom-footer-wrapper ul{
  display: inline-block;
}

@media(min-width: 376px){

  header, main, footer, .banner-wrapper, .upper-footer-wrapper, .bottom-footer-wrapper{
    width: 100%;
  }

  .container{
    display:block;
    padding: 0 44px;
  }


  .banner{
    display:none;
    height: 380px;
    margin-top: -320px;
    position:relative;
  }

  .banner-wrapper{
    width: auto;
    top: 55px;
  }

  .search-input{
    width: 82%;
  }

  .slider-container{
    position:absolute;
    bottom: 260px;
    right: 0px;
    font-weight: bold;
    text-align: center;
    transform: rotate(270deg);
  }

  /* Slider */

  .slider-indicator {
    display:inline-block;
    right: 0px;
  }

  .slider-container li span, .slider-indicator li span{
    text-align:center;
    color: #1C1C1C;
    font-weight:bold;
    float:left;
  }

  .slider-indicator li{
    font-size: 9px;
  }

  .slider-controller li{
    padding: 0 18px;
    line-height: 18px;
    font-size: 12px;
    float: left;
  }

  .slider_1_left_btn, .slider_1_right_btn{
    background-color: transparent;
    color:black;
    font-size: 10px;
    line-height: 20px;
  }

  .sign-up-wrapper form{
    display: block;
  }

  .sign-up-wrapper form input{
    width: 31%;
    line-height: 40px;
    margin: 0 2.36% 0 0 ;
    }

  .sign-up-wrapper form >:last-child{
    margin: 0px;
    width: 20%;
    font-size: 10px;
    background: #212121;
    float: right;
    color: white;
  }
  .sign-up-wrapper{
    padding: 20px;
    background-color: #f7f7f7
  }
}

@media(min-width: 768px){
  header{
    height: 345px;
  }

  header, main, footer, .banner-wrapper, .upper-footer-wrapper, .bottom-footer-wrapper{
    min-width: 1280px;
  }

  .banner-wrapper{
    background-color:transparent;
  }

  .container{
    padding: 0px;
    width: 75em;
    margin: auto;
  }

  header .left-wrapper{
    width:3.7897%;
  }

  header .right-wrapper{
    /* display:inline-block; */
    float: right;
    width: 52.9411%;
    line-height: 55px;
  }

  .banner{
    display:block;
    height: 580px;
    margin-top: -290px;
  }


  .left-wrapper .search-wrapper{
    display: none;
  }

  /* main container */
  .col-2-right{
    margin-top: 60px;
    position: static;
  }

  .col-2-right .left-wrapper{
    width:72.5098%;
  }

  .col-2-right .right-wrapper{
    float:right;
    background: white;
    position: static;
    display: inline-block;
    width:19.6078%;
    padding:0 30px;
    border: 0px;
  }

  .col-2-right .right-wrapper >div{
    margin-top: 40px;
  }

  .col-2-right .left-wrapper > div{
    margin-bottom: 60px;
  }

  /* image layout */
  .img-left{
    width:65.8%;
  }

  .img-right{
    width:34%;
  }

  .img-left-r{
    display: inline-block;
    width: 47.6836%;
    height: 555px;
    float: right;
  }

  .img-left-l {
    width: 51.9083%;
  }
  .search-wrapper, .top-add-banner, .second-add-banner, .facebook-wrapper{
    display: block;
  }


/* search */
  .search-wrapper{
    position: static;
    margin-top: 0px;
  }

  .search-input{
    float: left;
    width:75.121%;
    padding: 0 7px;
    display:inline-block;
    background-color: #f9f9fb;
  }

  .search-btn{
    width: 18.6666%;
  }

  .blog-content-wrapper{
    padding:37px 60px;
    padding-bottom:0px;
  }

  .blog-bottom-info{
    padding:0px 57px;
  }

/* sign up */

  .sign-up-wrapper{
    padding: 30px;
    padding-left: 0;
  }

  .sign-up-wrapper form{
    float: right;
    display: inline-block;
    width: 83.0065%;
  }

  .sign-up-wrapper form input{
    padding:0 30px;
    width: 30%;
    line-height: 50px;
    }

  .sign-up-wrapper form >:last-child{
    width: 22%;
  }

  .share-media-wrapper{
    display:inline-block;
    float: right;
  }

  .quotes-wrapper{
    padding: 70px 65px;
    text-align: center;
  }

  /* Footer */

  .upper-footer-wrapper .container > div{
    padding:0px;
    width: 22%;
    margin-right: 30px;
    float: left;
  }

  .signature-wrapper{
    height: 147px;
    width: 100%;
  }

  .instagram-image-wrapper{
    height: 98px;
  }

  .instagram-images-list li{
    width: 32.5%;
    margin: 1px;
    float: left;
  }

  .instagram-images-list{
    padding: 1px 0;
    background-color: #7c7e82;
    margin-top: 10px;
  }

}
