h1, h2, a, li, span, div, button, input, p{
  font-family: arial;
}

a{
  text-decoration:none;
  color: grey;
}

p{
  color: grey;
}

li{
  list-style: none;
}

img{
  display: block;
}

/* Header container */
.social-media-link{
  display: none;
  float: right;
  background: #3c3c3c;
}

header .container {
  background: #212429;
}

.header-burger-icon{
  line-height: 45px;
  color: white;
  text-align: center;
  font-size: 22px;
  margin: 0 1px;
  background: #212429

}


/* page logo image */
.logo-image{
  height:18px;
  width:30%;
  display: inline-block;
  padding-top:12px;
  padding-left: 20px;
}

/* right social media icons */
.header-icon{
  color: white;
}


/* Sign up container */
.sign-up-text{
  border-top:1px solid #3c3c3c;
  text-align: left;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.sign-up-wrapper form{
  display: block;
}

/* blog-wrapper */
.blog-content-wrapper span{
  text-align: center;
  display: block;
}

.blog-type{
  color:#b9b9ba;
  font-size: 13px;
  line-height: 50px;
}

.blog-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.top-icon-wrapper{
  right:0px;
  top: 0px;
  background-color: #cc2127;
}

.top-icon-wrapper i{
  font-size: 20px;
  padding: 15px;
  line-height:10px;
  color: white;
  text-align: center;
}



.bottom-icon-wrapper, .img-btm-icon-wrapper{
  position: absolute;
  line-height:0px;
  padding:8px;
}

.bottom-icon-wrapper, .img-btm-icon-wrapper{
  background-color: #212121;
}

.blog-wrapper .bottom-icon-wrapper{
  top: 467px;
}

.img-btm-icon-wrapper{
  top: 536px;
}

.pen-icon-wrapper{
  top: -20px;
  background-color: #212121;
  padding: 8px;
  color: white;
}

.quote-image-wrapper{
  top: -20px;
  background-color: white;
  padding: 8px;

}
.pen-icon-wrapper i{

  color: white;
  font-size: 17px;

}

.quote-image-wrapper i{
  color: black;
  font-size: 17px;
}

.bottom-icon-wrapper i, .img-btm-icon-wrapper i{
  color: white;
  font-size: 30px;
  line-height: 25px;
}

.author-date-wrapper{
  text-align: center;
}

.author-date-wrapper ul li i{
  padding: 0 4px;
  display:inline;
}

.author-date-wrapper ul{
  display: inline-block;
  margin:15px 0;
}
.author-date-wrapper ul li{
  color:#b9b9ba;
  margin-left: 10px;
  line-height:20px;
  font-size: 10px;
  float: left;
}

.author-date-wrapper ul > :first-child{
  padding-left: 0px;
}

.blog-description-para{
  font-size: 12px;
  line-height: 24px;
  justify-content: center;
  text-align: justify;
}

.read-more-btn{
  color:grey;
  font-size: 11px;
  text-align:center;
  padding: 0 15px;
  line-height: 30px;
  margin-top: 37px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #e8e8e9;
  color: black;
  background-color: transparent;
}

/* like, comment and share*/

.like-comment-wrapper li, .share-media-wrapper li, .share-media-options li, .share-blog{
  font-size: 10px;
  float: left;
  line-height: 64px;
}
.share-blog{
  float: right
}

.share-blog i{
  margin-right: 5px;
}

.share-media-wrapper li:hover a i, .like-comment-wrapper li:hover a,
.share-blog:hover a, .share-media-options:hover a{
  color: black;
}

.share-blog{
  position: relative;
  display: inline-block;
}

.share-blog:hover{
}

.share-blog:hover .share-media-options{
  display: block;

}

.share-media-options{
  display:none;
  position: absolute;
  z-index: 5;
}

.share-media-options li a{
  display: block
}

.share-blog:hover > .share-media-options{
  display: block;
  background-color: #fcfcfc;
}

.share-media-options li a{
  text-align:center;
}

.share-media-options li:hover{

  background-color: #dcdcdc;
}

.share-media-options li:hover a i{
  color: #202328;
}



.like-comment-wrapper li{
  color:#b9b9ba;
  padding-right:10px;
}

.like-comment-wrapper li i{
  padding: 0px 6px;
}



.share-media-wrapper li{
  font-size: 16px;
  padding: 0 16px;
  color: #454545;
}

.share-media-options{
  width: 100px;
}

.share-media-options li{
  float: left;
  display: inline-block;
  width: 25%;
}

/* image grid */

/* quotes */
.quotes-wrapper p{
  font-size: 16px;
  line-height: 28px;
  color: #fcfcfc;
  text-align: center;
}

.quote-writter, .webpage-url{
  color: #7a7c7b;
  display:block;
  font-size: 13px;
  line-height: 36px;
  text-align: center;
}

.quote-writter{
  margin-top: 30px;
}


.video-options ul li{
  font-size: 20px;
  color:white;
  margin-bottom: 2px;
  background: #101918;
  line-height:40px;
  padding: 0 8px;
}

.current-song-info li{
  opacity: 0.8;
  background: #242424;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
  margin-bottom: 4px;
  margin-left: 6px;
}


.current-song-info >:first-child{
  background: #9a9a9a;
}

.music-share-text{
  font-size: 10px;
  color: white;
}

.play-icon i{
  font-size: 32px;
  line-height: 57px;
}

.music-share-wrapper li i{
  padding: 0 8px;
}

.share-icon{
  padding: 0 12px;
}

.music-share-wrapper{
  float: right;
  display: inline;
  padding: 0 5px;
  font-size: 14px;
  line-height: 26px;
}

.cookie-policy{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  color: #9f8e94;
  background-color: #f2f2f2;
  padding: 3px;
}

.website-name{
  color: white;
  text-align: center;
  display: block;
}


.webpage-url a{
  color: white;
}

.category-wrapper .title, .latest-post-wrapper .title{
  font-size: 16px;
  display: block;
  font-weight: bold;
  text-align: center;
  line-height: 56px;
}

.category-wrapper ul li{
    font-size: 14px;
    line-height: 60px;
}

.category-wrapper ul li:hover, .latest-post-wrapper ul li:hover{
  background-color:#fcfcfc;
}

.category-wrapper ul li:hover a, .latest-post-wrapper ul li:hover a{
  color:black
}

.category-wrapper .title, .category-wrapper ul li,
.latest-post-wrapper .title, .latest-post-wrapper ul li{
  background-image: url(./../images/categories-border.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.latest-post-wrapper ul li{
  padding: 30px 0;
}

.category-name{
  float: left;
}

.category-count{
  float: right
}

.post-details-wrapper{
  float: left;
  width: 70%;
  float:right;
}

.post-detail-title{
  color:#585858;
  line-height: 22px;
  font-size: 13px;
}

.post-date-likes p{
  font-size: 10px;
  line-height: 22px;
  margin-top: 6px;
}

.post-date-likes p span{
  margin-right: 24px;
}

.social-media-wrapper ul li{
  float: left;
  width: 20%;
  text-align: center;
}

.social-media-wrapper ul li a{
  font-size: 17px;
  color: #464646;
}


.social-media-wrapper ul > :first-child{
  margin-left: 0px
}

.slide_2_left-slider-btn, .slide_2_right-slider-btn{
  position:absolute;
  background-color: #454545;
  top: 97px;
}

.slide_2_right-slider-btn{
  right: 0px;
}

.slide_2_left-slider-btn{
  left: 0px;
}

.slide_2_right-slider-btn i, .slide_2_left-slider-btn i{
  color: white;
  font-size: 16px;
  line-height: 36px;
  padding:0 8px;
}

.inner-footer-title{
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: white;
  display: block;
  font-size: 14px;
}

.bottom-footer-wrapper ul{
  width:100%;
  margin: 15px 0;
}

.bottom-footer-wrapper ul li{
  padding: 0 17px;
  font-size: 10px;
  color: #747577;
}

.bottom-footer-wrapper ul > :first-child{
  border-left: 0px;
}

.bottom-footer-wrapper ul li a{
  text-align:left;
  color: #747577;

}

.footer-nav-info{
  display: none;
}

@media(min-width: 376px){

  /* Header container */
  .social-media-link{
    display: inline-block;
  }

  .logo-image{
    width:18.8889%;
  }

  .social-media-link li{
    float: left;
    font-size:12px;
    padding: 0 12px;
    line-height: 45px;
    text-align: center;
    background-color: #212429;
    margin-right: 1px;
  }

  .social-media-link li:hover, .header-burger-icon:hover{
    background-image:none;
    background-color: #efefef;
  }

  .social-media-link > li:hover a i, .header-burger-icon:hover i{
    color: #212429;
  }


  .social-media-link >:first-child{
    margin-left: 1px;
  }

  .social-media-link{
    background-position: right;
  }

  .sign-up-text{
    border-top:0px;
    line-height: 50px;
    color: #3c3c3c;
    display: block;
    text-align: left;
  }

}


@media(min-width:768px){

  .logo-image{
    padding-left: 0px;
  }
  /* Sign up container */
  .sign-up-text{
    float: left;
    line-height: 28px;
    padding-left:30px;
    width : 11.9931%;
    font-size: 16px;
  }

  .header-burger-icon{
    line-height: 55px;
  }

  .social-media-link li{
    font-size: 15px;
    padding:0 20px;
    line-height:55px;
  }

  .bottom-icon-wrapper, .img-btm-icon-wrapper{
    left: 48%;
  }

  .sign-up-wrapper form{
    display: inline-block;
  }

  .share-blog{
    display: none;
  }

  .blog-title{
    font-size: 20px;
    line-height: 24px;
  }

  .like-comment-wrapper li, .share-media-wrapper li, .share-media-options li, .share-blog{
    font-size: 12px;
  }

  .author-date-wrapper ul li{
    color:#b9b9ba;
    margin-left: 30px;
    font-size: 13px;
  }


  .footer-nav-info{
    display: block;
  }

  .footer-nav-info p{
    font-size: 13px;
    color: #dcdddf;
    line-height: 30px;
  }

  .footer-inner-wrapper ul{
    display: block;
  }

  .footer-tweets-list li{
    line-height: 0px;
    margin-top:13px;
  }

  footer a{
    color: white;
  }

  .inner-footer-title{
    text-align:left;
  }

  .footer-tweets-list > :first-child{
    margin-top:0px;
  }

  .footer-tweets-list li span, .footer-tweets-list li p, .latest-comment-list p, .latest-comment-list a{
    font-size: 13px;
    color: white;
    line-height: 30px;
  }

  .footer-tweets-list li p{
    padding-left: 15px;
  }

  .latest-comment-list li{
    background-image:url(./../images/latest-comment-background.png);
    background-repeat:repeat-x;
    background-position: top;
    font-size: 8px;
    padding: 10px 0;
    color:white;
  }

  .latest-comment-list > :first-child{
    background-image: none;
  }

  .bottom-footer-wrapper ul li{
    float: left;
    border-left: 1px solid #747577;
  }

  .bottom-footer-wrapper ul li a{
    text-align:center;
  }

  .bottom-footer-wrapper ul{
    width: auto;
  }

}
